@import "./reset";
@import "./basic";
@import "./extend";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');

body {
  background: var(--body-bg);
  color: var(--main-color);
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}

#menu-toggle {
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.logo {
  background: var(--logo-url);
  background-size: 100%;
}

header {
  height: 56px;
  position: relative;
  .hamburger img {
    width: 20px;
    height: 15px;
  }
  .nav-bar {
    background: var(--body-bg);
        color: var(--main-color);
    z-index: 100;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 56px;
    left: -100%;
    display: none;
    transition: all .3s ease-in;
    li {
      height: 72px;
      line-height: 72px;
      border-bottom: 1px solid var(--light-gray);
    }
  }
  .logo {
    width: 136px;
    height: 24px;
    @extend %position-center ;
  }
  .icon-link {
    display: none;
    width: 100%;
    justify-content: center;
    background: var(--body-bg);
    a,
    label {
      cursor: pointer;
    }
    .search,
    .shopping-cart,
    .theme-toggle {
      width: 20px;
      height: 20px;
      margin: 10px;
    }
    .search {
      background: var(--search-icon);
      background-size: 100%;
    }
    .shopping-cart {
      background: var(--shopping-cart);
      background-size: 100%;
    }
    .theme-toggle {
      background: var(--theme-toggle);
      background-size: 100%;
    }
    .theme-toggle-input {
      display: none;
    }
  }
  #menu-toggle:checked ~ .nav-bar {
    display: block;
    left: 15px;
    right: 15px;
  }
  #menu-toggle:checked ~ .icon-link {
    display: flex;
    padding-top: 25px;
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
    img {
      margin: 0 20px;
    }
  }
}

.checkout-wrapper {

  .checkout-title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 38px;
      margin-top: 1rem;
  }
  .stepper {
    height: 32px;
    margin: 24px auto;
    justify-content: space-between;
    .step {
      display: flex;
      flex: 1;
      @include getStepNums(3);
      text-align: center;
      color: var(--light-gray);
      line-height: 30px;
      position: relative;
      .circle-container {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid var(--light-gray);
      }
      .label-container {
        display: none;
      }
      .connect-line {
        display: block;
        height: 1px;
        background: var(--light-gray);
        position: absolute;
        margin: 16px 5px;  
      }
      &:nth-child(1) {
        .connect-line {
          right: -25%;
          left: calc(25% + 16px); 
        }
      }
      &:nth-child(2) {
        justify-content: center;
        .connect-line {
          right: calc(-75% + 16px);
          left: 75%;  
        }
      }
      &:nth-child(3) {
        justify-content: flex-end;
      }
      &.checked, &.active {
        .circle-container {
          background-color: var(--circle-container-color);
          color: white;
        }
        .label-container {
          color: var(--main-color);
        }
        .connect-line {
          background: var(--main-color);
        }
      }
      &.checked .circle-container {
        border: none;
      }            
      &.checked .circle-container::after {
        content: "\2714";
        font-size: 1rem;
      } 
    }
  }
  .address-info,
  .payment-info {
    .form-row {
      width: 100%;
      margin-bottom: 24px;
      font-size: 0.75rem;
      &.gender {
        width: 40%;
        margin-right: 1.5rem;
      }
      &.name {
        width: 60%;
      }
      &.end-time {
        width: calc((100% - 1.5rem)/2);
        margin-right: 1.5rem;
      }
      &.cvc-ccv {
        width: calc((100% - 1.5rem)/2);
      }
      label {
        margin-bottom: 8px;
      }
    }
  }
  .delivery-info {
    .form-row {
      width: 100%;
      height: 60px;
      margin-bottom: 24px;
      border-radius: 4px;
      border: 1px solid var(--light-gray);
      align-items: center;
      position: relative;
      input {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        margin: 20px;
        border-radius: 50%;
        &:checked {
          box-shadow: inset 0 0 0 5px var(--main-color);
          border: 1px solid var(--main-color);
        }
      }
      .delivery-method {
        font-size: 14px;
        line-height: 20PX;
        margin-bottom: 2px;
      }
      .days {
        font-size: 12px;
        line-height: 16PX;
      }
      .fee {
        position: absolute;
        right: 16px;
      }
    }
  }
  input,
  select {
    -webkit-appearance: none;
    @extend %input-style;
  }
  select {   
    width: 100%;
    background-color: transparent;
    cursor: pointer;
  }
  // select icon
  .select-wrap {
    position: relative;
    z-index: 0;
    &::after {
      content: "";
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: var(--dark-gray) transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        z-index: -1;
    }
  }
}

.shopping-lists-wrapper {
  width: 100%;
  background: var(--shopping-list-bg);
  // flex: 5;
  .shopping-content {
    padding: 0 16px;
    border: 1px solid var(--second-light-gray);
    border-radius: 8px;
    margin-bottom: 32px;
    .shopping-lists-title {
      font-size: 18px;
      font-weight: 700;
      margin: 32px 0;
      display: none;
    }
    .shopping-lists {
      padding-bottom: 16px;
      .product {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
        .product-content {
          align-items: flex-end;
        }
        img {
          width: 100px;
          height: 100px;
        }
        .amount-control {
          display: flex;
          align-items: center;
          font-size: 14px;
          padding: 16px 0;
          .minus,
          .plus {
            width: 26px;
            height: 26px;
            background: var(--second-light-gray);
            border-radius: 50%;
            line-height: 26px;
            color: var(--circle-container-color);
            text-align: center;
            cursor: pointer;
            &:hover {
              background: var(--dark-gray);
              color: white;
            }
          }
          .amount {
            width: 54px;
            text-align: center;
          }
        }
      }
    }
    .price-outline {
      height: 52px;
      border-top: 1px solid var(second-light-gray);
    }  
  }
}

.btn-control {  
  .btn {
    width: 100%;
    height: 46px;
    font-size: 14px;
    border-radius: 8px;    
  }
  .btn-primary {
    background: var(--btn-pink);
    color: white; 
  }
  .btn-outline {
    text-align: left;
    color: var(--main-color);
  }
}
footer {
  display: none;
}

@media screen and (min-width: 480px) {
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }

  header {
    height: 56px;
    .hamburger img {
      display: none;
    }
    .nav-bar {
      width: 50%;
      height: 100%;
      display: block;
      position: relative;
      left: 0;
      top: 0;
      z-index: 0;
      .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li {
          border: none;
          line-height: 56px;
          margin-right: 1rem;
        }
        
      }
    }
    .logo {
      width: 170px;
      height: 30px;
    }
    .icon-link {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      .search,
      .shopping-cart,
      .theme-toggle {
        margin-left: 1.25rem;
      }
    }
  }
  .checkout-title {
      margin-top: 80px;
      font-size: 2rem;
  } 
  main .container {
    // 改用flex排版   
    display: flex;
    justify-content: space-between;
  }
  // 結帳區塊
  .checkout-wrapper {
    width: 50%;
    
    .stepper {
      margin: 48px 0;
      .step {
        display: flex;
        .label-container {
          display: block;
          margin-left: 10px;
        }
        
        &:nth-child(1) .connect-line {
          left: calc(50% + 32px);
          right: calc(-25% + 16px);
           
        }
        &:nth-child(2) .connect-line {
          left: calc(100% - 16px);
          right: calc(-50% + 32px);
        }
      }
      
      
    }
    .address-info {
      width: 100%;
      .form-title {
        margin: 16px 0;
      }
      .form-col-screen {
        display: flex;
        justify-content: space-between;
      }
      .form-row {
        &.name,
        &.address {
          // flex: 4;
          width: 60%;
        }
        &.tel,
        &.city {
          margin-right: 1.5rem;
        }
        &.city {
          // flex: 2;
          width: 40%;
        }
        &.tel,
        &.email {
          width: 50%;
          // flex: 1;
        }
        label {
          margin-bottom: 8px;
        }
      }
    }
  }
  // 購物籃區塊
  .shopping-lists-wrapper {
    width: 40%;
   
    .shopping-content {
      margin-top: 48px;
      .shopping-lists-title {
        display: block;
      }
      .shopping-lists .product {
        margin-bottom: 34px;
        justify-content: flex-start;
        .product-content {
          margin-left: 20px;
          flex: 1;
          align-items: flex-start;
          position: relative;
          .price {
            position: absolute;
            right: 0;
          }
        }
      }
      .price-outline {
        margin-bottom: 12px;
      }  
    }
  }

  .btn-control {
    // margin: 48px 0;
    margin-top: 48px;
    // padding-top: 24px;
    position: relative;

    .btn {
      width: 174px;
      position: absolute;
      // bottom: 0;
    }
    .btn-primary { 
      right: 0;
    }
    .btn-outline {
      left: 0;
    }
  }
  footer {
    display: block;
    margin-top: 124px;
    background-color: var(--footer-background);
    .container {
      display: flex;
    }
    .footer-wrap {
      width: 100%;
      height: 284px;
      padding: 64px 0;
      .logo {
        background: var(--logo-url) no-repeat;
        background-size: 100%;
        width: 170px;
        min-height: 30px;
        align-self: center;
      }
      .footer-title {
        color: var(--main-color);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 24px;
      }
      .footer-item {
        margin-bottom: 8px;
        margin-left: 4px;
        color: var(--footer-color);
        img {
          width: 24px;
          height: 24px;
          margin-right: 16px;
        }
      }
    }
  }
  
  
}
